// Non-modular or client styles for .l-header region.

.l-header

.title-area
  span small
    line-height: $topbar-height
    position: absolute
    left: 0
    right: 0
    text-align: center

+respond($small)
  .title-area
    span small
      position: relative
      text-align: left
      width: auto

// Top Bar
//--------------------------------------------------
.top-bar
  .title-area

.top-bar-section

.top-bar-section .left

.top-bar-section .right