/*
 * Styling for the style tile home page

.color-0 
  background: $dark
.color-1
  background: $blue-pale
.color-2
  background: $orange-pale
.color-3
  background: $blue
.color-4 
  background: $teal
.color-5 
  background: $green

// style sections
.group
  padding-top: 2em

.component-group--button
  ul, 
  li
    list-style: none

.colors li div
  padding-bottom: 100%
  width: 100%  
  
.assets
  img
    margin-bottom: 1em